.about {
    background-color: $black;
    padding: 110px 0 100px;
    ul {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            padding: 40px 15px;
            flex-basis: calc(100% / 2);
                i {
                    padding: 20px 40px 0 0;
                    // align-self: center;
                    // position: relative;
                    // top: 30px;
                }
            h2 {
                margin: 10px 0;
                display: block;
            }  
        }
    }
}
