* {
    color: $offwhite;
}

h2 {
    font-size: 83.2px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 2.2px;
}

p {
    font-weight: 400;
    font-size: 39px;
    line-height: 30px;
    letter-spacing: 1.9px;
    margin: 0;
}

i {
    padding: 10px 0;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: $offwhite;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    font-family: 'Tulpen One', cursive;
    font-size: 35px;
    letter-spacing: 1.3px;
    border: none;
    background-color: $rustred;
    a {
    padding: 12px 25px;
    }
}

.hamburger {
    opacity: 0;
}