.events {
    background: $black;
    padding: 80px 0;
    
    .wrapper {
        display: flex;
        align-items: center;
        .imageContainer3 {
            width: 100%;
            position: relative;
            img {
                max-width: 305px;
                max-height: 305px;
                position: relative;
                box-shadow: -18px 18px 0px -3px $dustyorange;
            }
            
        }
        .textContainer {
            padding-left: 70px;
            h2 {
                color: $dustyorange;
                margin: 0;
            }
            p {
                padding: 25px 0;
            }
        }
    }
    
}