@media(max-width:940px) {
    .glasses {
        bottom: -65px;
    }

    nav {
        li {
            a {
                font-size: 25px;
            }
        }
        
    }
}    

@media(max-width:768px) {
    ul.slidingMenu {
        flex-direction: column;
        background: black;
        position: fixed;
        z-index: 50;
        width: 45%;
        right: -45%;
        top: 0;
        height: 100%;
        transition: all 0.5s;
        a {
            border-bottom: 1px solid grey;
            display: inline-block;
            font-size: 40px;
            width: 100%;
            padding: 20px;
            transition: all 0.3s;
        }
    }

    ul.slidingMenu a:hover,
    ul.slidingMenu a:focus {
        color: $dustyorange;
    }

    input[type="checkbox"]:checked + ul.slidingMenu {
        right: 0;
    }

    input[type="checkbox"] {
        display: none;
    }

    label[for="toggle"] {
        font-size: 50px;
        position: fixed;
        top: 10px;
        left: 10px;
        color: white;
        z-index: 50;
    }

    .logo {
        display: none;
    }

    .glasses {
        bottom: -65px;
    }

    //About section

    .about {
        padding: 55px 0;
        ul {
            flex-direction: column;
            li {
                padding: 20px 0;
            }
        }
    }

    //Plan section

    .planLocations {
        .first {
            .imageContainer1 {
                height: 200px;
                width: 80%;
            }
            ul {
                width: 100%;
                margin: 0;
                padding: 180px 0 0 0;
            }
        }
        .second {
            ul {
                width: 100%;
                margin: 0;
                padding: 0 0 210px 0;
            }
            .imageContainer2 {
                height: 200px;
                width: 80%;
            }
        }
    }

//Events

    .events {
        padding: 20px;
        .wrapper {
            flex-direction: column;
            .imageContainer3 {
                img {
                    position: static;
                    align-items: center;
                }
            }
            .textContainer {
            padding: 15px 0;
            }
        }
        
    }   

    //Gallery
    .gallery {
        background: $darkred;
        padding: 30px 0;
        .wrapper {
            display: flex;
            justify-content: space-between;
            img {
                width: calc((100% / 3) - 10px);
            }
        }
    }
}

@media(max-width: 480px) {
    h2 {
        font-size: 55px;
    }

    p{
        font-size: 28px;
    }

    button {
        font-size: 30px;
    }

    //Sliding Menu
    ul.slidingMenu {
        flex-direction: column;
        background: black;
        position: fixed;
        z-index: 50;
        width: 65%;
        right: -65%;
        top: 0;
        height: 100%;
        transition: all 0.5s;
        a {
            border-bottom: 1px solid grey;
            display: inline-block;
            font-size: 40px;
            width: 100%;
            padding: 20px;
            transition: all 0.3s;
        }
    }

    ul.slidingMenu a:hover,
    ul.slidingMenu a:focus {
        color: $dustyorange;
    }

    input[type="checkbox"]:checked + ul.slidingMenu {
        right: 0;
    }

    input[type="checkbox"] {
        display: none;
    }

    label[for="toggle"] {
        font-size: 50px;
        position: fixed;
        top: 10px;
        left: 10px;
        color: white;
        z-index: 50;
    }

    .logo {
        display: none;
    }

// Header
    h1 {
        font-size: 200px;
        span {
            left: -39px;
            top: -74px;
        }
    }

    .glasses {
        bottom: -30px;
    }

    //Party section

    .party {
        padding-bottom: 35px;
    }

    //Events sections
    .imageContainer3 {
        padding-top: 30px;
    }
}