body {
  font-family: "Chathura", sans-serif;
}

.logo {
  font-family: "Tulpen One", cursive;
  font-size: 45px;
  color: #FFFFFF;
}

h1 {
  font-family: "Tulpen One", cursive;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  color: #FFFFFF;
}

h2 {
  font-size: 83.2px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2.2px;
}

p {
  font-weight: 400;
  font-size: 39px;
  line-height: 30px;
  letter-spacing: 1.9px;
  margin: 0;
}

i {
  padding: 10px 0;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: "Tulpen One", cursive;
  font-size: 35px;
  letter-spacing: 1.3px;
  border: none;
  background-color: #BF2603;
}
button a {
  padding: 12px 25px;
}

header {
  background-color: #111010;
  position: relative;
}

nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav ul li {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1.9px;
  line-height: 29px;
  list-style: none;
  color: #FFFFFF;
  padding: 25px 30px;
  text-transform: uppercase;
}

.logo {
  font-family: "Tulpen One", cursive;
  margin: 0;
  padding-top: 25px;
  font-size: 55px;
  letter-spacing: 1.9px;
  color: #FFFFFF;
  text-transform: capitalize;
}

h1 {
  font-weight: 400;
  font-size: 261.4px;
  letter-spacing: 2.4px;
  text-align: center;
  color: #FF8327;
  margin: 0;
  padding: 100px 0 30px 0;
  position: relative;
  bottom: -75px;
  z-index: 30;
}
h1 span {
  font-family: "Chathura", sans-serif;
  font-weight: 700;
  font-size: 83.2px;
  line-height: 94.7px;
  letter-spacing: 2.6px;
  color: #FFFFFF;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  top: -84px;
  left: -80px;
}

.headerImageContainer {
  background-image: url(../assets/home-image-1.jpg);
  max-width: 100%;
  width: 100vw;
  height: auto;
}

.glasses {
  position: absolute;
  width: 49%;
  height: auto;
  z-index: 20;
  right: 0px;
  bottom: -95px;
}

.about {
  background-color: #111010;
  padding: 110px 0 100px;
}
.about ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 15px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.about ul li i {
  padding: 20px 40px 0 0;
}
.about ul li h2 {
  margin: 10px 0;
  display: block;
}

.planLocations {
  position: relative;
  min-height: 100vh;
  background: #220303;
}
.planLocations img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.planLocations .first {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.planLocations .first .imageContainer1 {
  width: calc(50% - 70px);
  height: 350px;
  position: absolute;
  left: 0;
  top: -25px;
  z-index: 20;
}
.planLocations .first .orangeBox {
  background-color: #FF8327;
  width: 651.5px;
  height: 350px;
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: -1;
}
.planLocations .first ul {
  width: calc(50% - 70px);
  margin: 0;
  padding: 50px 0;
}
.planLocations .first ul h2 {
  margin: 25px 0 15px;
}
.planLocations .second {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.planLocations .second .imageContainer2 {
  width: calc(50% - 70px);
  height: 350px;
  position: absolute;
  right: 0;
  bottom: -25px;
  z-index: 20;
}
.planLocations .second .orangeBox {
  background: #FF8327;
  width: 651.5px;
  height: 350px;
  position: absolute;
  right: 25px;
  bottom: -25px;
  z-index: -1;
}
.planLocations .second ul {
  width: calc(50% - 70px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  margin: 0;
  text-align: right;
}
.planLocations .second ul h2 {
  margin: 50px 0 20px;
}
.planLocations .second ul p {
  text-align: left;
}

.planLocations button {
  margin-top: 25px;
}

.party {
  background: #111010;
  text-align: center;
  padding-bottom: 120px;
}
.party h2 {
  color: #FF8327;
  margin: 0;
  padding-top: 150px;
}
.party p {
  padding: 35px 30px 40px;
}
.party button a {
  padding: 10px 35px;
}

.beerImage {
  width: 100%;
  background-image: url(../assets/banner-image.jpg);
  height: 483px;
  -o-object-fit: cover;
     object-fit: cover;
}

.events {
  background: #111010;
  padding: 80px 0;
}
.events .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events .wrapper .imageContainer3 {
  width: 100%;
  position: relative;
}
.events .wrapper .imageContainer3 img {
  max-width: 400px;
  max-height: 400px;
  z-index: 20;
}
.events .wrapper .imageContainer3 .orangeBox {
  background: #FF8327;
  position: absolute;
  height: 305px;
  width: 305px;
  z-index: 0;
  left: -30px;
  bottom: -21px;
}
.events .wrapper .textContainer {
  padding-left: 70px;
}
.events .wrapper .textContainer h2 {
  color: #FF8327;
  margin: 0;
}
.events .wrapper .textContainer p {
  padding: 25px 0;
}

.gallery {
  background: #220303;
  padding: 90px 0;
}
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .wrapper img {
  width: calc(33.3333333333% - 25px);
}

footer {
  margin: 0;
  background-color: rgb(66, 66, 66);
  padding: 8px 0;
}
footer p {
  text-align: center;
  margin: 0;
}