@charset "UTF-8";
body {
  font-family: "Chathura", sans-serif;
}

.logo {
  font-family: "Tulpen One", cursive;
  font-size: 45px;
  color: #FFFFFF;
}

h1 {
  font-family: "Tulpen One", cursive;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  color: #FFFFFF;
}

h2 {
  font-size: 83.2px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2.2px;
}

p {
  font-weight: 400;
  font-size: 39px;
  line-height: 30px;
  letter-spacing: 1.9px;
  margin: 0;
}

i {
  padding: 10px 0;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: "Tulpen One", cursive;
  font-size: 35px;
  letter-spacing: 1.3px;
  border: none;
  background-color: #BF2603;
}
button a {
  padding: 12px 25px;
}

header {
  background-color: #111010;
  position: relative;
}

nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav ul li {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1.9px;
  line-height: 29px;
  list-style: none;
  color: #FFFFFF;
  padding: 25px 30px;
  text-transform: uppercase;
}

.logo {
  font-family: "Tulpen One", cursive;
  margin: 0;
  padding-top: 25px;
  font-size: 55px;
  letter-spacing: 1.9px;
  color: #FFFFFF;
  text-transform: capitalize;
}

input[type=checkbox] {
  display: none;
}

h1 {
  font-weight: 400;
  font-size: 261.4px;
  letter-spacing: 2.4px;
  text-align: center;
  color: #FF8327;
  margin: 0;
  padding: 100px 0 30px 0;
  position: relative;
  bottom: -75px;
  z-index: 30;
}
h1 span {
  font-family: "Chathura", sans-serif;
  font-weight: 700;
  font-size: 83.2px;
  line-height: 94.7px;
  letter-spacing: 2.6px;
  color: #FFFFFF;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  top: -84px;
  left: -80px;
}

.headerImageContainer {
  background-image: url(../assets/home-image-1.jpg);
  max-width: 100%;
  width: 100vw;
  height: auto;
}

.glasses {
  position: absolute;
  width: 49%;
  height: auto;
  z-index: 20;
  right: 0px;
  bottom: -95px;
}

.about {
  background-color: #111010;
  padding: 110px 0 100px;
}
.about ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.about ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 15px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.about ul li fa-stack {
  padding: 10px 40px 0 0;
  position: relative;
}
.about ul li h2 {
  margin: 0px;
  display: block;
}
.about ul li .text {
  margin-left: 15px;
}

.fa-circle {
  color: #BF2603;
  font-size: 40px;
  padding-right: 25px;
  margin-right: 15px;
  position: absolute;
  right: 10px;
}

.planLocations {
  position: relative;
  min-height: 100vh;
  background: #220303;
}
.planLocations img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.planLocations .first {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.planLocations .first .imageContainer1 {
  width: calc(50% - 70px);
  height: 350px;
  position: absolute;
  left: 0;
  top: -25px;
  z-index: 20;
}
.planLocations .first .orangeBox {
  background-color: #FF8327;
  width: 651.5px;
  height: 350px;
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: -1;
}
.planLocations .first ul {
  width: calc(50% - 70px);
  margin: 0;
  padding: 50px 0;
}
.planLocations .first ul h2 {
  margin: 25px 0 15px;
}
.planLocations .second {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.planLocations .second .imageContainer2 {
  width: calc(50% - 70px);
  height: 350px;
  position: absolute;
  right: 0;
  bottom: -25px;
  z-index: 20;
}
.planLocations .second .orangeBox {
  background: #FF8327;
  width: 651.5px;
  height: 350px;
  position: absolute;
  right: 25px;
  bottom: -25px;
  z-index: -1;
}
.planLocations .second ul {
  width: calc(50% - 70px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  margin: 0;
  text-align: right;
}
.planLocations .second ul h2 {
  margin: 50px 0 20px;
}
.planLocations .second ul p {
  text-align: left;
}

.planLocations button {
  margin-top: 25px;
}

.party {
  background: #111010;
  text-align: center;
  padding-bottom: 120px;
}
.party h2 {
  color: #FF8327;
  margin: 0;
  padding-top: 150px;
}
.party p {
  padding: 35px 30px 40px;
}
.party button a {
  padding: 10px 35px;
}

.beerImage {
  background-image: url(../assets/banner-image.jpg);
  width: 100%;
  height: 483px;
  -o-object-fit: cover;
     object-fit: cover;
}

.events {
  background: #111010;
  padding: 80px 0;
}
.events .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events .wrapper .imageContainer3 {
  width: 100%;
  position: relative;
}
.events .wrapper .imageContainer3 img {
  max-width: 305px;
  max-height: 305px;
  position: relative;
  z-index: 20;
}
.events .wrapper .imageContainer3 .orangeBox {
  background: #FF8327;
  position: absolute;
  height: 305px;
  width: 305px;
  z-index: 10;
  left: -30px;
  bottom: -21px;
}
.events .wrapper .textContainer {
  padding-left: 70px;
}
.events .wrapper .textContainer h2 {
  color: #FF8327;
  margin: 0;
}
.events .wrapper .textContainer p {
  padding: 25px 0;
}

.gallery {
  background: #220303;
  padding: 90px 0;
}
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .wrapper img {
  width: calc(33.3333333333% - 25px);
}

footer {
  margin: 0;
  background-color: rgb(66, 66, 66);
  padding: 8px 0;
}
footer p {
  text-align: center;
  margin: 0;
}

@media (max-width: 1800px) {
  .planLocations .first .orangeBox {
    width: 760px;
  }
  .planLocations .second .orangeBox {
    width: 760px;
  }
}
label[for=toggle] {
  position: absolute;
  top: -100px;
}

@media (max-width: 1500px) {
  .planLocations .first .orangeBox {
    width: 650px;
  }
  .planLocations .second .orangeBox {
    width: 650px;
  }
}
@media (max-width: 1260px) {
  .planLocations .first .orangeBox {
    width: 550px;
  }
  .planLocations .second .orangeBox {
    width: 550px;
  }
}
@media (max-width: 940px) {
  .glasses {
    bottom: -65px;
  }

  nav li a {
    font-size: 25px;
  }

  .planLocations .first .orangeBox {
    width: 390px;
  }
  .planLocations .second .orangeBox {
    width: 390px;
  }

  .beerImage {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 768px) {
  ul.slidingMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: black;
    position: fixed;
    z-index: 50;
    width: 45%;
    right: -45%;
    top: 0;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  ul.slidingMenu a {
    border-bottom: 1px solid grey;
    display: inline-block;
    font-size: 40px;
    width: 100%;
    padding: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  ul.slidingMenu a:hover,
ul.slidingMenu a:focus {
    color: #FF8327;
  }

  input[type=checkbox]:checked + ul.slidingMenu {
    right: 0;
  }

  input[type=checkbox] {
    display: none;
  }

  label[for=toggle] {
    font-size: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 50;
  }

  .logo {
    display: none;
  }

  .glasses {
    bottom: -65px;
  }

  .orangeBox {
    display: none;
  }

  .about {
    padding: 55px 0;
  }
  .about ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about ul li {
    padding: 20px 0;
  }

  .planLocations .first .imageContainer1 {
    height: 200px;
    width: 80%;
  }
  .planLocations .first ul {
    width: 100%;
    margin: 0;
    padding: 180px 0 0 0;
  }
  .planLocations .second ul {
    width: 100%;
    margin: 0;
    padding: 0 0 210px 0;
  }
  .planLocations .second .imageContainer2 {
    height: 200px;
    width: 80%;
  }

  .beerImage {
    display: none;
  }

  .events {
    padding: 20px;
  }
  .events .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events .wrapper .imageContainer3 img {
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .events .wrapper .textContainer {
    padding: 15px 0;
  }

  .gallery {
    background: #220303;
    padding: 30px 0;
  }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery .wrapper img {
    width: calc(33.3333333333% - 10px);
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 55px;
  }

  p {
    font-size: 28px;
  }

  button {
    font-size: 30px;
  }

  ul.slidingMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: black;
    position: fixed;
    z-index: 50;
    width: 65%;
    right: -65%;
    top: 0;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  ul.slidingMenu a {
    border-bottom: 1px solid grey;
    display: inline-block;
    font-size: 40px;
    width: 100%;
    padding: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  ul.slidingMenu a:hover,
ul.slidingMenu a:focus {
    color: #FF8327;
  }

  input[type=checkbox]:checked + ul.slidingMenu {
    right: 0;
  }

  input[type=checkbox] {
    display: none;
  }

  label[for=toggle] {
    font-size: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 50;
  }

  .logo {
    display: none;
  }

  h1 {
    font-size: 200px;
  }
  h1 span {
    left: -39px;
    top: -74px;
  }

  .glasses {
    bottom: -30px;
  }
}
main {
  background-color: #111010;
}

header .blogHeader {
  color: #FFFFFF;
  font-size: 83px;
  font-family: "Chathura", sans-serif;
  text-align: start;
}
header .headerImageContainer {
  background-image: url(../assets/blog-header-1.jpg);
  max-width: 100%;
  width: 100vw;
  height: 60vh;
}

.asideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.asideMenu .sideBar {
  padding-top: 70px;
  background-color: #111010;
  width: 35%;
  position: relative;
}
.asideMenu .sideBar img {
  position: absolute;
  z-index: 20;
}
.asideMenu .sideBar .missionSection {
  margin-left: 20%;
  background-color: #220303;
  padding-top: 420px;
  width: 75%;
  padding-left: 20px;
  position: relative;
  top: 10px;
  z-index: 10;
}
.asideMenu .sideBar h2 {
  margin: 0;
  padding: 20px 0 10px;
}
.asideMenu .sideBar a {
  display: block;
  color: #FF8327;
  padding-bottom: 15px;
}
.asideMenu .sideBar .recentPosts {
  margin-top: 0;
}
.asideMenu .sideBar ul {
  margin: 0;
  font-size: 39px;
  padding: 0 0 20px 0;
}
.asideMenu .sideBar ul li::before {
  content: "•";
  color: #BF2603;
  font-size: 39px;
  font-weight: bolder;
  display: inline-block;
  width: 20px;
  margin-left: 15px;
}
.asideMenu .newMenu {
  width: 60%;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 0;
}
.asideMenu .newMenu .wrapper {
  position: relative;
  top: 0px;
  margin-top: 20px;
  padding-top: 45px;
}
.asideMenu .newMenu .blogPost {
  border-bottom: 5px solid #FF8327;
  border-left: 5px solid #FF8327;
  margin-left: -20px;
  position: relative;
  top: -130px;
  right: 0;
}
.asideMenu .newMenu .foodImage {
  position: relative;
  right: 0px;
  top: -130px;
  z-index: 20;
}
.asideMenu .newMenu .foodImage::before {
  content: "";
  background: #FF8327;
  position: absolute;
  bottom: 0;
  left: -20px;
  height: 95%;
  width: 20px;
}
.asideMenu .newMenu .foodImage::after {
  content: "";
  background: #FF8327;
  position: absolute;
  bottom: -20px;
  left: -20px;
  height: 20px;
  width: 98%;
}
.asideMenu .newMenu h2 {
  margin: 0;
}
.asideMenu .newMenu h3 {
  padding-bottom: 20px;
}
.asideMenu .newMenu p {
  padding: 0 0 25px;
}

h3 {
  font-size: 39px;
  color: #FF8327;
  margin: 0;
}

.comments {
  width: 50%;
  margin-left: 44%;
  margin-right: 15%;
  position: relative;
  top: -50px;
}
.comments h2 {
  margin: 0 0 30px;
}
.comments .commentOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 80px;
}
.comments .commentOne .commentImage1 {
  width: 50%;
  padding: 12px 30px 0 0;
}
.comments .commentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 30px;
}
.comments .commentTwo .commentImage2 {
  width: 28%;
  padding: 12px 0 0 0;
}
.comments .commentTwo .commentTwoText {
  padding-left: 29px;
}

form {
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  border-style: none;
}
form .nextToEachOther {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .flexContainer {
  width: 45%;
}
form .flexContainer label {
  padding: 0 0 15px 20px;
}
form label {
  display: block;
  font-size: 39px;
  background-color: #111010;
}
form input {
  display: block;
  background-color: #111010;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #FF8327;
}
form textarea {
  background-color: #111010;
  border: 2px solid #FF8327;
  border-bottom: 2px solid #FF8327;
}
form button {
  margin-top: 30px;
  cursor: pointer;
}
form input[type=text]::-webkit-input-placeholder {
  font-family: "Chathura", sans-serif;
  color: #FFFFFF;
}
form input[type=text]::-moz-placeholder {
  font-family: "Chathura", sans-serif;
  color: #FFFFFF;
}
form input[type=text]:-ms-input-placeholder {
  font-family: "Chathura", sans-serif;
  color: #FFFFFF;
}
form input[type=text]::-ms-input-placeholder {
  font-family: "Chathura", sans-serif;
  color: #FFFFFF;
}
form input[type=text]::placeholder {
  font-family: "Chathura", sans-serif;
  color: #FFFFFF;
}